<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.twio142.bitwarden</string>
	<key>category</key>
	<string>Security</string>
	<key>connections</key>
	<dict>
		<key>2B043930-634C-4A4E-956B-E271E44ED35F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8BB7F5BA-49BA-4546-8A79-BF1C6509FBF9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>399BC9FC-87EC-4E79-A43F-5F658209A016</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B043930-634C-4A4E-956B-E271E44ED35F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>8BB7F5BA-49BA-4546-8A79-BF1C6509FBF9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>90B0D388-7A7C-420A-A756-18FE5356D610</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>1E52A711-6808-40E8-B6AC-D61C503F9650</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3E0C6408-9D6D-4776-9B41-489A8C8B2AF7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C9F69C59-0349-481C-B687-058E47EF4DA2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>1E52A711-6808-40E8-B6AC-D61C503F9650</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DBCCD868-3814-443D-99B5-E8371692010E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8BB7F5BA-49BA-4546-8A79-BF1C6509FBF9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>twio142</string>
	<key>description</key>
	<string>Interact with Bitwarden CLI</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Bitwarden</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./bw-alfred $action "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>90B0D388-7A7C-420A-A756-18FE5356D610</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>3</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>bw</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./bw-alfred ${next:-search}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>bitwarden</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2B043930-634C-4A4E-956B-E271E44ED35F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>3</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>bwf</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./bw-alfred list_folders</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>399BC9FC-87EC-4E79-A43F-5F658209A016</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>unstackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>C9F69C59-0349-481C-B687-058E47EF4DA2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>bitwarden</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>3E0C6408-9D6D-4776-9B41-489A8C8B2AF7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>1E52A711-6808-40E8-B6AC-D61C503F9650</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>8BB7F5BA-49BA-4546-8A79-BF1C6509FBF9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>|bw</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./bw-alfred main</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DBCCD868-3814-443D-99B5-E8371692010E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./bw-alfred sync_vault</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>sync_vault</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>04923DF0-BC75-422A-B213-36508EB500F3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Alfred Bitwarden

Interact with [Bitwarden CLI](https://bitwarden.com/help/cli/).

Full documentation on [GitHub](https://github.com/twio142/alfred-bitwarden/).</string>
	<key>uidata</key>
	<dict>
		<key>04923DF0-BC75-422A-B213-36508EB500F3</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>2B043930-634C-4A4E-956B-E271E44ED35F</key>
		<dict>
			<key>xpos</key>
			<real>155</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>399BC9FC-87EC-4E79-A43F-5F658209A016</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>3E0C6408-9D6D-4776-9B41-489A8C8B2AF7</key>
		<dict>
			<key>xpos</key>
			<real>450</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>8BB7F5BA-49BA-4546-8A79-BF1C6509FBF9</key>
		<dict>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>90B0D388-7A7C-420A-A756-18FE5356D610</key>
		<dict>
			<key>xpos</key>
			<real>325</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>C9F69C59-0349-481C-B687-058E47EF4DA2</key>
		<dict>
			<key>xpos</key>
			<real>325</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>DBCCD868-3814-443D-99B5-E8371692010E</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Your Bitwarden username</string>
			<key>label</key>
			<string>Bitwarden user</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>bwuser</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>password</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Password</string>
						<string>password</string>
					</array>
					<array>
						<string>API Key</string>
						<string>api_key</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Login method</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>loginMethod</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Ignored if Login method is Password</string>
			<key>label</key>
			<string>Client ID</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>BW_CLIENTID</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Ignored if Login method is Password</string>
			<key>label</key>
			<string>Client Secret</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>BW_CLIENTSECRET</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>pairs</key>
				<array>
					<array>
						<string>None</string>
						<string></string>
					</array>
					<array>
						<string>Authenticator app</string>
						<string>0</string>
					</array>
					<array>
						<string>YubiKey OTP</string>
						<string>3</string>
					</array>
					<array>
						<string>Email</string>
						<string>1</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Ignored if Login method is API Key</string>
			<key>label</key>
			<string>Two-step login method</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>twoStepMethod</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>bitwarden.com</string>
				<key>placeholder</key>
				<string>Default is United States (bitwarden.com)</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Set to "bitwarden.eu" for European Union, or enter a custom value for self-hosted servers.</string>
			<key>label</key>
			<string>Bitwarden server</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>serverUrl</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/Downloads</string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string>Ask each time</string>
				<key>required</key>
				<false/>
			</dict>
			<key>description</key>
			<string>Where to save attachments, or leave blank to choose a folder each time</string>
			<key>label</key>
			<string>Downloads Folder</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>downloadFolder</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>30</string>
				<key>placeholder</key>
				<string>Default is 30 seconds</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Number of seconds a value is stored in the clipboard before the original contents are restored</string>
			<key>label</key>
			<string>Clipboard time</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>ClipboardTime</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>30</string>
				<key>placeholder</key>
				<string>Default is 30 minutes</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Sync your vault if the last sync was more than this many minutes ago</string>
			<key>label</key>
			<string>Sync Interval</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>SyncTime</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Select to show notifications</string>
			</dict>
			<key>description</key>
			<string>Whether to post a nofication each time a field is copied to the clipboard</string>
			<key>label</key>
			<string>Notifications</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>PostNotification</string>
		</dict>
	</array>
	<key>version</key>
	<string>5.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/twio142/alfred-bitwarden</string>
</dict>
</plist>
